@page "/monthlyChoices"

<PageTitle>Monthly Choices</PageTitle>

<h1>Monthly Selections</h1>

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <button class="btn btn-primary" @onclick="CreateNewMonthlySelection">New Selection</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-auto">
            Search by date: <input type="text" id="date"/>
        </div>
        <div class="col-md-auto">
            Search by spirit name: <input type="text" id="spiritName"/>
        </div>
    </div>
    @* So we want to tie this up to a function that gets the number of monthly selections and passes in specific
    selection data to the MonthlyChoice component which will render in the for loop...*@
    @for (int i = 0; i < 5; i++)
        {
            <div class="row">
                <button class="btn btn-primary" @onclick="GoToReview"><MonthlyChoice SpiritName="Ardbeg"/></button>
            </div>
        }
</div>


@code {

    private void GoToReview()
    {
        throw new NotImplementedException();
    }

    private void CreateNewMonthlySelection()
    {
        throw new NotImplementedException();
    }
}
